.projectName {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid gray;
}

.container {
  background-color: lightgray;
}

.form {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 84, 251);
  padding: 20px;
}

.searchBar {
  width: 200px;
  display: flex;
  padding: 10px;
  margin-right: 100px;
  border-radius: 10px;
}

.button {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.panelContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.firstPanel {
  background: whitesmoke;
  border: 2px solid lightgray;
  margin: 20px;
  padding: 20px;
}

.secondPanel {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border: 2px solid #ccc;
  margin: 20px;
  padding: 20px;
}

.image {
  max-width: 300px;
  max-height: 100px;
}
